/********************** Navbar *********************/
#logo img {
	max-width: 35px;
}

#navbar {
	top: 0;
	z-index: 1000; /* Menu por encima */
	transition: background-color 0.5s ease;
	display: flex;
	justify-content: space-evenly;
}

.navbar a {
	color: white; /* Color del texto del menu */
	transition: background-color 0.5s ease; /* Transicion*/
}

li {
	font-size: 30px;
    text-align: right;
}
/********************** Navbar *********************/



/********************* Carrusel*********************/
.carousel-item img {
	width: 100%;		
	height: auto;		/* altura maxima de las imagenes */
	max-height: 740px;
}
/********************* Carrusel*********************/

/****************** Linea horizontal *************/
hr {
	border: none;
	border-top: 2px solid rgb(201, 191, 191);
	margin: 20px 0;
}
/****************** Linea horizontal *************/


/****************** Cuerpo *****************/
.cuerpo {
	border-left: 40px solid black; /* Borde a la izquierda */
	border-right: 40px solid black; /* Borde a la derecha */
	padding: 40px; /* Espacio interior para que el texto no esté pegado al borde */
}
/****************** Cuerpo *****************/



/************* seccion 3 columnas ****************/
#titulo {
	background-color: aqua;
	text-align: center;
	height: 30px;	
}

i{
	font-size: 30px;		/***tamanio de los iconoscon fondo celeste***/  
	color: #fff;
}
/************* seccion 3 columnas ****************/


/************* seccion 4 cards ****************/
.card-body{
	color: rgb(230, 236, 236);
	background-color: rgb(18, 207, 240);
}
/************* seccion 4 cards ****************/


/************* Formulario ****************/
.formulario{
}
/************* Formulario ****************/




/************* Footer ****************/
footer {
    background-color: rgb(18, 207, 240);
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    flex: 1;
}

.right {
    display: flex;
}

.right a {
    margin-left: 10px;
}

/************* Footer ****************/